<template>
  <div style="text-align: center">
    <div
      style="display: flex"
      :style="{
        'border-left-color': borderColor,
        'border-left-style': borderStyle,
        'border-left-width': borderWidth,
        height: weekHeight,
      }"
    >
      <div
        v-for="(day, index) in [
          weekNames[0] || 'SUN',
          weekNames[1] || 'MON',
          weekNames[2] || 'TUE',
          weekNames[3] || 'WED',
          weekNames[4] || 'THU',
          weekNames[5] || 'FRY',
          weekNames[6] || 'SAT',
        ]"
        :key="index"
        :style="{
          display: 'flex',
          'justify-content': 'center',
          'font-weight': 'bold',
          flex: 1,
          'min-width': itemMinWidth,
          'max-width': itemMaxWidth,
          'font-size': weekFontSize,
          'border-top-color': borderColor,
          'border-top-style': borderStyle,
          'border-top-width': borderWidth,
          'border-right-color': borderColor,
          'border-right-style': borderStyle,
          'border-right-width': borderWidth,
          'border-bottom-color': borderColor,
          'border-bottom-style': borderStyle,
          'border-bottom-width': borderWidth,
          'background-color': backgroundColor,
        }"
      >
        <div v-if="index === 0" :style="{ color: sundayColor }">
          {{ day }}
        </div>
        <div v-else-if="index === 6" :style="{ color: saturdayColor }">
          {{ day }}
        </div>
        <div v-else :style="{ color: weekdayColor }">
          {{ day }}
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column">
      <div
        v-for="(week, index) in calendars"
        :key="index"
        style="display: flex"
        :style="{
          'min-height': itemMinHeight,
          'max-height': itemMaxHeight,
          'border-left-color': borderColor,
          'border-left-style': borderStyle,
          'border-left-width': borderWidth,
        }"
      >
        <div
          v-for="(item, index) in week"
          :key="index"
          style="position: relative"
          :style="{
            flex: 1,
            'min-width': itemMinWidth,
            'max-width': itemMaxWidth,
            'border-right-color': borderColor,
            'border-right-style': borderStyle,
            'border-right-width': borderWidth,
            'border-bottom-color': borderColor,
            'border-bottom-style': borderStyle,
            'border-bottom-width': borderWidth,
            'background-color': backgroundColor,
          }"
        >
          <div
            v-if="todayBorderColor && item.isToday"
            :style="{
              position: 'absolute',
              'border-style': 'solid',
              'border-color': todayBorderColor,
              'border-width': borderWidth,
              width: 'calc(100% - (' + borderWidth + ' * 2))',
              height: 'calc(100% - (' + borderWidth + ' * 2))',
            }"
          />
          <div
            v-if="item.isOut"
            style="height: 100%; width: 100%; z-index: 1"
            :style="{
              'background-color': outsideDateColor || gray,
            }"
          >
            <div
              :style="{
                color: dateColor,
                'font-size': dateFontSize,
              }"
            >
              {{ item.date }}
            </div>
          </div>
          <div v-else style="height: 100%; width: 100%; z-index: 1">
            <div
              :style="{
                color: dateColor,
                'font-size': dateFontSize,
              }"
            >
              {{ item.date }}
            </div>
            <div
              style="width: 100%"
              :style="{
                height: 'calc(100% - ' + dateFontSize + ')',
              }"
            >
              <slot v-if="$scopedSlots[item.date]" :name="item.date"></slot>
              <slot v-else></slot>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: {
    year: {
      type: Number,
      default: Number(moment().get("years")),
    },
    month: {
      type: Number,
      default: Number(moment().get("months")) + 1,
    },
    weekHeight: {
      type: String,
      default: "60px",
    },
    itemMinWidth: {
      type: String,
      default: "0",
    },
    itemMaxWidth: {
      type: String,
      default: "auto",
    },
    itemMinHeight: {
      type: String,
      default: "0",
    },
    itemMaxHeight: {
      type: String,
      default: "auto",
    },
    outsideDateColor: String,
    weekNames: {
      type: Array,
      default: () => [],
    },
    saturdayColor: {
      type: String,
      default: "blue",
    },
    sundayColor: {
      type: String,
      default: "red",
    },
    weekdayColor: {
      type: String,
      default: "black",
    },
    weekFontSize: {
      type: String,
      default: "26px",
    },
    dateColor: {
      type: String,
      default: "black",
    },
    dateFontSize: {
      type: String,
      default: "16px",
    },
    borderColor: {
      type: String,
      default: "black",
    },
    borderStyle: {
      type: String,
      default: "double",
    },
    borderWidth: {
      type: String,
      default: "4px",
    },
    todayBorderColor: String,
    backgroundColor: {
      type: String,
      default: "transparent",
    },
  },
  data() {
    return {
      today: moment(),
      yearMonth: null,
    };
  },
  mounted() {
    this.setYearMonth();
  },
  watch: {
    year() {
      this.setYearMonth();
    },
    month() {
      this.setYearMonth();
    },
    yearMonth(value) {
      this.$emit("input", value.toDate());
    },
  },
  methods: {
    next() {
      this.yearMonth = moment(this.yearMonth).add(1, "month");
    },
    prev() {
      this.yearMonth = moment(this.yearMonth).subtract(1, "month");
    },
    setYearMonth() {
      this.yearMonth = moment({
        years: this.year,
        months: this.month - 1,
      });
    },
    getStartDate() {
      let date = moment(this.yearMonth);
      date.startOf("month");
      const youbiNum = date.day();
      return date.subtract(youbiNum, "days");
    },
    getEndDate() {
      let date = moment(this.yearMonth);
      date.endOf("month");
      const youbiNum = date.day();
      return date.add(6 - youbiNum, "days");
    },
  },
  computed: {
    calendars() {
      if (!this.yearMonth) return [];
      let startDate = this.getStartDate();
      const endDate = this.getEndDate();
      const weekNumber = Math.ceil(endDate.diff(startDate, "days") / 7);

      let calendars = [];
      for (let week = 0; week < weekNumber; week++) {
        let weekRow = [];
        for (let day = 0; day < 7; day++) {
          const isOut =
            Number(startDate.get("month")) !== this.yearMonth.get("months");
          let item = {
            date: startDate.get("date"),
            isOut: isOut,
            isToday: !isOut && this.today.isSame(startDate, "day"),
          };
          weekRow.push(item);
          startDate.add(1, "days");
        }
        calendars.push(weekRow);
      }
      return calendars;
    },
  },
};
</script>