<template>
  <div id="app">
    <Calendar
      outsideDateColor="rgb(70,70,70)"
      itemMinWidth="200px"
      itemMaxWidth="200px"
      itemMinHeight="200px"
      itemMaxHeight="200px"
      weekFontSize="20px"
      weekdayColor="white"
      dateColor="white"
      dateFontSize="24px"
      borderStyle="double"
      borderWidth="6px"
      borderColor="white"
      todayBorderColor="yellow"
      backgroundColor="black"
    >
      <template
        v-for="element in [4, 5, 11, 12, 18, 19, 20, 24, 25, 26]"
        v-slot:[element]
      >
        <div :key="element">
          <p style="color: white; color: red">休暇</p>
        </div>
      </template>
      <template v-slot:default style="color: white">
        <p style="color: white">やることリスト</p>
        <input type="text" />
        <input type="text" />
        <input type="text" />
        <div><button>決定</button></div>
      </template>
    </Calendar>
  </div>
</template>

<script>
import Calendar from "./components/Calendar.vue";

export default {
  name: "App",
  components: {
    Calendar,
  },
};
</script>

<style>
#app {
}
</style>
